---
debug: true
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/changelog"
  - "@semantic-release-github-pullrequest"
  - "@semantic-release/github"
  - - "@qiwi/semantic-release-gh-pages-plugin"
    - src: site
